* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
  }

/* section intro */

body, html {
    height: 100vh;
    width: 100%;
}

Img { 
    max-width: 100%;
}

.intro {
    background-image: url('../images/hero-bg.jpg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;   
    
}

.intro-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper-logo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-intro {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

.intro__title {
    color: #ffffff;
    font-family: Lato;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.intro__descr {
    color: #ffffff;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2;
    width: 100%;
}

.icon-mouse {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/* section about us */

.about-us {
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-about {
    width: 54%;
    min-height: 54%;
    border: 2px solid #3c3c3c;
    
}

.wrapper__title {
    width: 50%;
    margin: 0 auto;
    margin-top: -1.4rem;
    background-color: #fff;
}

.about__title {
    text-align: center;
    color: #3c3c3c;
    font-size: 3.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.about__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: #3c3c3c;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
}

.about__descr p {
    padding: 5%;
}


.services {
    height: 50%;
    width: 100%;
    background-image: url('../images/services.jpg.png');
}

/* section services */

.services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-block {
    border: 2px solid #fff;
    border-top: none;
    width: 54%;
    min-height: 251px;
    position: relative;
}

.services-block::before {
    content: "";
    display: block;
    position: absolute;
    min-width: 27%;
    min-height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 999;
}

.services-block::after {
    content: "";
    display: block;
    position: absolute;
    width: 27%;
    height: 2px;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 999;
}

.services__title {
    background-color: transparent;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.wrapper-descr {
    display: flex;
    justify-content: center;
}

.services__descr {
    color: #ffffff;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25.89px;
    text-align: center;
    width: 544px;
    margin-top: 65px;
}

/* block capabilities */

.capabilities {
    padding-top: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200%;
}

.block-capabilities {
    width: 54%;
    max-height: 1120px;
    border: 2px solid #3c3c3c;
}

.capabilities-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__img {
    margin-bottom: 1.9rem;
}

.content__title {
    margin-bottom: 4%;
}

.capabilities__descr {
    margin-bottom: 2%;
    text-align: center;
    width: 90%;

}

.capabilities__title {
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 5%;
    margin-top: -4%;
    text-align: center;
    color: #3c3c3c;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase
}

.works {
    padding-top: 2rem;
}

.work__link {
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    
}

.work__link:hover {
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
    transition: .7s;
}

.first-blocks, .second-blocks{
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
}

.works__title {
    position: absolute;
    z-index: 1;
    left: 8%;
    top: 75%;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* section contact */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.block-contact {
    width: 54%;
    height: 54%;
    border: 2px solid #3c3c3c;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.contact-content p {
    width:80%;
    margin-bottom: 3%;
    text-align: center;
}

.btn__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53%;
    height: 58px;
    border: 2px solid #3c3c3c;
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

.btn__contact a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.contact__title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    margin-top: -14px;
    color: #3c3c3c;
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.footer__policity {
    margin-left: 40px;
}

@media (max-width: 768px) {
    .intro{
        background-position: right;
    }
    .services {
        background-position: right;
    }
    .services__title {
        margin-top: 2%;
        font-size: 1.2rem
    }
    .about__title {
        font-size: 2.1rem;
    }
    .capabilities__descr {
        font-size: .8rem;
    }
    .capabilities__title {
        font-size: 1.2rem;
    }
    .about__title {
        font-size: 1.2rem;
    }
    .intro__descr {
        font-size: .8rem;
        text-align: center;
    }
    .contact-content p {
        font-size: .8rem;
    }
}

@media (max-width: 480px) {
    .intro__descr {
        width: 100%;
    }
    .block-about {
        border-top: none;   
    }
    .about__title {
        font-size: .9rem;
    }
    .about-us  p {
        font-size: .8rem;
    }
    .services p {
        font-size: .8rem;
    }
    .services h2 {
        font-size: .9rem;
    }
    .capabilities-content .content__img {
        width: 2rem;
        height: 2rem;
        
    }
    .capabilities-content {
        font-size: .8rem;
    }
    .work_blocks{
        display: flex;
        flex-direction: column;
    }
    .contact-content p {
        font-size: .8rem;
        width: 100%;
    }
    .contact-content h2 {
        font-size: .9rem;
    }
    .block-contact {
        border-top: none;
    }
    .btn__contact {
        height: 40%;
    }
    .capabilities__title {
        font-size: .9rem;
    }
    .block-capabilities {
        border-top: none;
    }
    .contact h2 {
        font-size: .9rem;
    }
}