* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.wrapper_form {
    max-width: 400px;
    /* height: 496px; */
    background-image: url(./imgs/bg_img.png);
    background-size: cover;
    padding: 50px 70px;
    position: relative;
    box-shadow: 0 0 17px rgba(2, 41, 120, 0.1);
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.tabs_item a {
    color: #e1c2f1;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .03em;
    position: relative;
}

.tabs_item a:hover {
    color: #fbf6e4;
}

.tabs_item a::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff6033;

    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    margin-bottom: 9px;
    transition: opacity .3s linear;
}
.tabs_item:hover a::before {
    opacity: 1;
}

.tabs_item:not(:last-child) {
    margin-right: 24px;
}

.form_label {
    color: #fbf6e4;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    cursor: pointer;
}

.form_input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    border: 2px solid rgba(191, 185, 204, 0.54);
    color: white;
    margin: 7px 0 0;
    padding: 10px;
}

.form_input:focus {
    border-color: #23ae92;
}

.form_checkbox {
    padding: 5px;
}


 [type=checkbox] {
    overflow: hidden;
    opacity: 0;
    position: absolute;
} 
label span {
    height: 16px;
    width: 16px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#fff;
    border-radius:2px;
    padding: 3px;
}

[type=checkbox]:checked + span:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:23px;
    color: #23ae92;
}

.label_checkbox {
    color: #fbf6e4;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.btn {
    margin-top: 40px;
    border: none;
    outline: none;
    width: 261px;
    height: 42px;
    background-color: #23ae92;
    cursor: pointer;
    color: #fbf6e4;
    font-size: 18px;
    font-weight: 700;
    padding: 9px;
   
}

.choose_link a {
    color: #b9b9cc;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .05em;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #b9b9cc;
    opacity: .7;
}

.choose_link {
    padding-bottom: 10px;
    padding-top: 30px;
}