* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Museo Sans Rounded";

}

@font-face {
    font-family: 'Museo Sans Rounded';
    src:
        url('../fonts/MuseoSansRounded-100.woff2') format('woff2'),
        url('../fonts/MuseoSansRounded-100.woff') format('woff'),
        url('../fonts/MuseoSansRounded-100.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    position: relative;
    background-color: #c5c5c8;
    background-image: url('/imgs/bgi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper__mask {
    position: absolute;
    width: 800px;
    height: 600px;
    background-image: url('/imgs/mask.png');
    opacity: 0.56;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 686px;
    height: 391px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
    border-radius: 10px;
    background-color: #111a28;
}

.logo__img {
    margin-top: 24px;
    margin-left: 21px;
}

.product__img {
    margin-top: 69px;
    margin-left: 36px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.descr__title {
    width: 155px;
    margin-right: 87px;
    color: #e1e1e1;
    font-size: 24px;
}

.descr__definition {
    font-size: 14px;
    color: #e1e1e1;
    letter-spacing: 0.28px;
    line-height: 26px;
}

.content-rating {
    font-size: 12px;
    color: #f7bf16;
}

.rating__star {
    padding-top: 24px;
    margin-bottom: 24px;
}

.select__size {
    color: #e1e1e1;
    width: 69px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #111a28;
    opacity: 0.26;
    margin-bottom: 29px;
}

.select__qty {
    color: #e1e1e1;
    width: 69px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #111a28;
    opacity: 0.26;
}

.content-btn {
    width: 184px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #4c525a;
    opacity: 0.26;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-btn_grey {
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.28px;
    line-height: normal;
    color: #e1e1e1;
}

.product-select {
    width: 12px;
    height: 12px;
}

.color__grey {
    width: 11px;
    height: 11px;
    background-color: #1f273f;
    border: 2px solid #7e838b;
    border-radius: 50%;
}

.color__white {
    width: 10px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
}

.color__red {
    width: 10px;
    height: 9px;
    background-color: #ed3333;
    border-radius: 50%;
}

.color__blue {
    width: 10px;
    height: 9px; 
    background-color: #29e3ea;
    border-radius: 50%;
}

.product-color {
    padding-top: 73px;
    padding-left: 178px;
    width: 265px;
    display: flex;
    justify-content: space-around;
    
}